body {
  background-color: #B9C0C8;
}

.container {}

.justify-content-md-center {
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #F8FAFB;
  border-radius: 1rem;
}

.mario-card {
  background-color: #F8FAFB;
}

.card {
  border: none;
}

.form-group {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}

p, h1 {
  padding-left: 1rem;
}

.form-control {
  border: none;
  border-bottom: 1px dotted grey;
}

#submit {
  float: right;
}

textarea {
  width: 100%;
  border: 1px dotted grey;
}
